@model OnlineShop.ViewModels.DetailsVM

<form method="post" asp-action="Details">
    <main class="container-item">
        <div class="left-column">
        @if (@Model.Item.Image != null)
        {
            <img src="@WC.ImagePath@Model.Item.Image" class="item-img-main" />
        }
        else
        {
            <img src="~/assets/no-photos.png" class="item-img-main" />
        }
    </div>


        <!-- Right Column -->
        <div class="right-column">

            <!-- Product Description -->
            <div class="product-description">
                <h1 class="item-title-text">@Model.Item!.Category.Name.ToUpper() @Model.Item.Name</h1>
                <p class="item-sign-text">@Model.Item.Sex.ToString().ToUpper()</p>
                @if (Model.Item.Description != null)
            {
                <label asp-for="@Model.Item.Description" class="item-sign-text"></label>
                <p class="description">@Model.Item.Description</p>
            }
            <p class="item-sign-text">@Model.Item.Price.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture) $</p>
                @if (@Model.IsInCart)
                {
                    <a asp-action="RemoveFromCart" asp-route-id="ChosenSizedItemId" class="customed-button"></a>
                }
                else if (@Model.ExistingSizesSelectList != null && @Model.Item.SizedItems.FirstOrDefault(si => si.Amount > 0) != null)
                {
                    <div class="size-block">
                        <label asp-for="@Model.ExistingSizesSelectList" class="item-sign-text"></label>
                        <select asp-for="@Model.ChosenSizedItemId" asp-items="@Model.ExistingSizesSelectList" class="sizes">
                            <option disabled selected>-Select size-</option>
                        </select>
                        <span asp-validation-for="@Model.ChosenSizedItemId" class="error-validation"></span>
                    </div>

                    if (!User.IsInRole(WC.AdminRole))
                    {
                         <button type="submit" class="customed-button">Add to cart</button>
                    }
                }
                else
                {
                    <p class="item-sign-text">Not available</p>
                }
                <a asp-action="Index">Back to catalog</a>
            </div>
        </div>
    </main>
</form>

@section Scripts {
    @{ <partial name="_ValidationScriptsPartial" />}
    @{ <partial name="_Alert" /> }
}