@model OnlineShop.ViewModels.EditItemVM
<div class="form-container col-8 offset-2">
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group row">
             <h2>Edit item</h2>
        </div>

        @{
            if (Model.Item.Image != null)
            {
                                        <img class="item-img-form" id="preview-image" src="@WC.ImagePath@Model.Item.Image"/>     
                                        <a class="d-block" onclick="removeInitialImage(event)">Remove image</a>  
            }
            else
            {
                                        <img class="item-img-form" id="preview-image" src="~/assets/no-photos.png"/>
            }
                                     <input id="remove-image" type="checkbox" asp-for="@Model.RemoveImage" hidden/>
        }
         <label asp-for="Item.Image"></label>
         <input id="upload-image" type="file" accept="image/*" name="files" multiple onchange="previewImage()" />
         <span class="error-validation" id="image-validation"></span>

         <input asp-for="Item.Id" hidden/>
         <label asp-for="Item.Name"></label>
         <input asp-for="Item.Name" />
         <span asp-validation-for="Item.Name" class="error-validation"></span>

         <label asp-for="Item.Description"></label>
         <textarea asp-for="Item.Description"></textarea>
         <span asp-validation-for="Item.Description" class="error-validation"></span>

         <label asp-for="Item.Price"></label>
         <input asp-for="Item.Price" type="number"/>
         <span asp-validation-for="Item.Price" class="error-validation"></span>

         <label asp-for="Item.CategoryId"></label>
         <select asp-for="Item.CategoryId" asp-items="@Model.CategorySelectList">
         </select>
          <span asp-validation-for="Item.CategoryId" class="error-validation"></span>

          <label asp-for="Item.Sex"></label>
         <select asp-for="Item.Sex" asp-items="@Model.SexSelectList">
         </select>
          <span asp-validation-for="Item.Sex" class="error-validation"></span>

          <input asp-for="Item.Image" hidden/>

          <label asp-for="SizeVMList"></label>
           <div class="frame">
          @if (@Model.SizeVMList != null && @Model.SizeVMList.Count() > 0)
            {
                <table>
                     <thead>
                         <tr>
                           <th>
                          </th>
                           <th>
                             Size
                          </th>
                           <th>
                             Amount
                          </th>
                         </tr>
                     </thead>
            <tbody>
                @for(int i = 0; i < Model.SizeVMList.Count(); i++)
                {
                    <tr>
                        <td width="5%">
                            @Html.HiddenFor(m => @Model.SizeVMList[i].Size.Code)
                            <input asp-for=@Model.SizeVMList[i].Checked id=@Model.SizeVMList[i].Size.Code onchange="initDisabledInputAmount(this.id)" class="form-check-input" type="checkbox"/>
                        </td>
                        <td width="10%">@Model.SizeVMList[i].Size.Name</td>
                        @Html.HiddenFor(m => @Model.SizeVMList[i].Size.Name)
                        <td width="20%">
                            <input asp-for="@Model.SizeVMList[i].Amount" id="@Model.SizeVMList[i].Size.Code"/>
                            <span asp-validation-for="@Model.SizeVMList[i].Amount" id="@Model.SizeVMList[i].Size.Code" class="error-validation"></span>
                        </td>
                    </tr>
                }
            </tbody>
         </table>
            }
            else
            {
              <p >No sizes</p>
            }
            </div>
            <span id="size-validation" asp-validation-for="@Model.SizeVMList" class="error-validation"></span>


         <input id="submit-btn" type="submit" class="customed-button" value="Edit"/>
          <a asp-action="Index">Back</a>
    </form>
</div>
@section Scripts {
    @{ <partial name="_ValidationScriptsPartial" /> }
    <script src="~/js/item/functions.js"></script>
    <script>
        initDisabledInputAmountAll();
        initPostprocessingValidationSpans();

        document.getElementById("submit-btn").addEventListener('click', (event) => { 
            try {
                if (!validateSizeChosen()) {// || !window.isImageValid)
                    event.preventDefault();
                }
            }
            catch {
                event.preventDefault();
            }
        });

      
    </script>
}

