@model Order

<div class="form-container col-8 offset-2">
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group row">
             <h2>Edit order</h2>
        </div>

         <input asp-for="@Model.Id" hidden/>
         <label asp-for="@Model.Id"></label>
         <input asp-for="@Model.Id" disabled/>

         <input asp-for="@Model.OrderTime" hidden/>
         <label asp-for="@Model.OrderTime"></label>
         <input asp-for="@Model.OrderTime" disabled/>

         <input asp-for="@Model.User.Id" hidden />
         <input asp-for="@Model.UserId" hidden />

         <label asp-for="@Model.User.Email" ></label>
         <input asp-for="@Model.User.Email" disabled />

         <label asp-for="@Model.User.FirstName" ></label>
         <input asp-for="@Model.User.FirstName" disabled />

         <label asp-for="@Model.User.LastName" ></label>
         <input asp-for="@Model.User.LastName" disabled />

         <input asp-for="@Model.OrderStatus" hidden />
         <label asp-for="@Model.OrderStatus" ></label>
         <input asp-for="@Model.OrderStatus" disabled />

         <label asp-for="@Model.PhoneNumber"></label>
         <input asp-for="@Model.PhoneNumber" />
         <span asp-validation-for="@Model.PhoneNumber" class="error-validation"></span>

         <label asp-for="@Model.Address"></label>
         <textarea asp-for="@Model.Address" ></textarea>
         <span asp-validation-for="@Model.Address" class="error-validation"></span>

         <label asp-for="@Model.TotalSum"></label>
         <input asp-for="@Model.TotalSum" type="number" />
         <span asp-validation-for="@Model.TotalSum" class="error-validation"></span>

          <textarea asp-for="@Model.Notes" hidden></textarea>
         <label asp-for="@Model.Notes"></label>
         <textarea asp-for="@Model.Notes" disabled></textarea>
         <span asp-validation-for="@Model.Notes" class="error-validation"></span>


         <label asp-for="@Model.Commentaries"></label>
         <textarea asp-for="@Model.Commentaries" ></textarea>
         <span asp-validation-for="@Model.Commentaries" class="error-validation"></span>

         <label asp-for="@Model.OrderedSizedItems"></label>
           <div class="frame order-table-frame">
          @if (@Model.OrderedSizedItems != null && @Model.OrderedSizedItems.Count() > 0)
            {
                <table>
                     <thead>
                         <tr>
                           <th>
                             Id
                           </th>
                           <th>
                             Item  
                          </th>
                           <th>
                             Size
                          </th>
                           <th>
                             Ordered amount
                          </th>
                          <th>
                             Available amount
                          </th>
                          <th>
                              Item's page
                          </th>
                         </tr>
                     </thead>
            <tbody>
                @for(int i = 0; i < Model.OrderedSizedItems.Count(); i++)
                {
                    <tr>
                        <input asp-for="@Model.OrderedSizedItems[i].Id" hidden/>
                        <input asp-for="@Model.OrderedSizedItems[i].SizedItemId" hidden/>
                        <input asp-for="@Model.OrderedSizedItems[i].OrderId" hidden/>

                        <td>@Model.OrderedSizedItems[i].SizedItemId</td>
                        <td>@Model.OrderedSizedItems[i].SizedItem.Item.Category.Name.ToUpper() @Model.OrderedSizedItems[i].SizedItem.Item.Name</td>
                        <td>@Model.OrderedSizedItems[i].SizedItem.Size.Name</td>
                        <td width=10%>
                            <input asp-for="@Model.OrderedSizedItems[i].OrderedAmount"/>
                        </td>
                        <td>
                            @Model.OrderedSizedItems[i].SizedItem.Amount
                        </td>
                        <td>
                                <a asp-controller="Home" asp-action="Details" asp-route-id="@Model.OrderedSizedItems[i].SizedItem.Item.Id">
                                    Link
                                </a>
                        </td>
                    </tr>
                }
            </tbody>
         </table>
            }
            else
            {
              <p >No ordered items</p>
            }
            </div>

            @if (@Model.OrderedSizedItems != null && @Model.OrderedSizedItems.Count() > 0)
            {
                <span asp-validation-for="@Model.OrderedSizedItems[0].OrderedAmount" class="error-validation"></span>
                <span asp-validation-for="@Model.OrderedSizedItems" class="error-validation"></span>
            }

         <input id="submit-btn" type="submit" class="customed-button" value="Edit"/>
          <a asp-action="NotConsidered">Back</a>
    </form>
</div>
@section Scripts {
    @{ <partial name="_ValidationScriptsPartial" /> }
    @{ <partial name="_OrderAlert" /> }
    <script src="~/js/item/functions.js"></script>
}